#robot {
 	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#head{
	position: absolute;
	width: 200px;
	height: 100px;
	border-radius: 200px 200px 0 0;
	/*margin: 0 auto;*/
	margin-top: 100px;
  	background-color: #5f93e8;
    -webkit-animation: 5s botMotion linear forwards;
    		animation: 5s botMotion linear forwards;
}

@-webkit-keyframes botMotion {
  0%, 10% {
    top: 0;
  }
  20%, 80% {
    top: -13px;
    background-color: #F4D03F;
  }
  90%, 100% {
    top: 0;
  }
}
@keyframes botMotion {
  0%, 10% {
    top: 0;
  }
  20%, 80% {
    top: -13px;
    background-color: #F4D03F;
  }
  90%, 100% {
    top: 0;
  }
}

#eyes{
	/*position: absolute;
	width: 40px;
	height: 20px;
	top: 5px;
	left: 5px;
	background-color: #333;*/
	/*display: flex;*/
}

.eye{
	width: 20px; 
	height: 30px; 
	border-radius: 15px; 
	background-color: white;  
	-webkit-animation: 5.6s eyeBlink 0.35s linear infinite;
          animation: 5.6s eyeBlink 0.35s linear infinite;
}

#left {
  position: absolute;
  top: 50%;
  left: 25%;
  margin-top: -5px;
}
#right {
  position: absolute;
  top: 50%;
  right: 25%;
  margin-top: -5px;
}

@-webkit-keyframes eyeBlink {
  0%, 10% {
    background-color: white;
  }
  15% {
    background-color: #333;
  }
  20%, 50%, 80% {
    background-color: white;
  }
  85% {
    background-color: #333;
  }
  90%, 100% {
    background-color: white;
  }
}
@keyframes eyeBlink {
  0%, 10% {
    background-color: white;
  }
  15% {
    background-color: #333;
  }
  20%, 50%, 80% {
    background-color: white;
  }
  85% {
    background-color: #333;
  }
  90%, 100% {
    background-color: white;
  }
}


#body{
	position: absolute;
  	width: 200px;
	height: 200px;
	border-radius: 0 0 200px 200px;
	margin-top: 230px;
  	background-color: #5f93e8;
    -webkit-animation: 5s bodyMotion linear forwards ;
    		animation: 5s bodyMotion linear forwards ;
}

@-webkit-keyframes bodyMotion {
  0%, 10% {
    top: 33px;
  }
  20%, 80% {
    top: 20px;
    background-color: #bbceff;
  }
  90%, 100% {
    top: 33px;
  }
}
@keyframes bodyMotion {
  0%, 10% {
    top: -33px;
  }
  20%, 30%{
  	top: 0px;
  }
  40%, 80% {
    top: 0px;
    background-color: #bbceff;
  }
  90%, 100% {
    top: -33px;
  }
}

.finger {
  position: absolute;
  height: 10px;
  width: 5px;
  background-color: #bdc3c7;
}
#leftarm {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 25px;
}
#robot #body #leftarm .finger:nth-of-type(1) {
  -webkit-animation: 5s lefttopfinger linear forwards;
          animation: 5s lefttopfinger linear forwards;
}
#robot #body #leftarm .finger:nth-of-type(2) {
  -webkit-animation: 5s leftbotfinger linear forwards;
          animation: 5s leftbotfinger linear forwards;
}

@-webkit-keyframes lefttopfinger{
	0% {
    left: 0;
    top: 5px;
  }
  10%, 20% {
    left: -50px;
    top: 70px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  30% {
    left: -50px;
    top: 50px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  40% {
    left: -50px;
    top: 70px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  50% {
    left: -50px;
    top: 50px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  60% {
    left: -50px;
    top: 70px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  70% {
    left: -50px;
    top: 50px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  80%, 90% {
    left: -50px;
    top: 70px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  100% {
    left: 0;
    top: 5px;
  }
}

@keyframes lefttopfinger {
  0% {
    left: 0;
    top: 5px;
  }
  10%, 20% {
    left: -50px;
    top: 20px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  30% {
    left: -50px;
    top: 50px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  40% {
    left: -50px;
    top: 70px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  50% {
    left: -50px;
    top: 30px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  60% {
    left: -50px;
    top: 80px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  70% {
    left: -50px;
    top: 30px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  80%, 90% {
    left: -50px;
    top: 80px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #5f93e8;
  }
  100% {
    left: 0;
    top: 5px;
  }
}

@-webkit-keyframes leftbotfinger {
	0% {
    left: 0;
    bottom: 5px;
  }
  10%, 20% {
    left: -50px;
    bottom: -30px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  30% {
    left: -50px;
    bottom: -30px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  40% {
    left: -50px;
    bottom: -30px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  50% {
    left: -50px;
    bottom: -30px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  60% {
    left: -50px;
    bottom: -30px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  70% {
    left: -50px;
    bottom: -30px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  80%, 90% {
    left: -50px;
    bottom: -30px;
    height: 60px;
    width: 30px;
    border-radius: 100px;
    background-color: #5f93e8;
  }
  100% {
    left: 0;
    bottom: 5px;
  }
}

@keyframes leftbotfinger {
  0% {
    left: 0;
    bottom: 5px;
  }
  10%, 20% {
    left: -50px;
    bottom: -30px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: #ffc0a1;
  }
  30% {
    left: -50px;
    bottom: -10px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: #ffc0a1;
  }
  40% {
    left: -50px;
    bottom: -40px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: 	#ffc0a1;
  }
  50% {
    left: -50px;
    bottom: -10px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: 	#ffc0a1;
  }
  60% {
    left: -50px;
    bottom: -40px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: 	#ffc0a1;
  }
  70% {
    left: -50px;
    bottom: -10px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: 	#ffc0a1;
  }
  80%, 90% {
    left: -50px;
    bottom: -40px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: 	#5f93e8;
  }
  100% {
    left: 0;
    bottom: 5px;
  }
}

#rightarm {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 25px;
}
#robot #body #rightarm .finger:nth-of-type(1) {
 -webkit-animation: 5s righttopfinger linear forwards;
          animation: 5s righttopfinger linear forwards;
}
#robot #body #rightarm .finger:nth-of-type(2) {
  -webkit-animation: 5s rightbotfinger linear forwards;
          animation: 5s rightbotfinger linear forwards;
}

@-webkit-keyframes righttopfinger {
  0% {
    right: 0;
    top: 5px;
  }
  10%, 20% {
    right: -50px;
    top: 20px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  30% {
    right: -50px;
    top: 50px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  40% {
    right: -50px;
    top: 70px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  50% {
    right: -50px;
    top: 30px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  60% {
    right: -50px;
    top: 80px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  70% {
    right: -50px;
    top: 30px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  80%, 90% {
    right: -50px;
    top: 80px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #5f93e8;
  }
  100% {
    right: 0;
    top: 5px;
  }
}

@keyframes righttopfinger {
  0% {
    right: 0;
    top: 5px;
  }
  10%, 20% {
    right: -50px;
    top: 20px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  30% {
    right: -50px;
    top: 50px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  40% {
    right: -50px;
    top: 70px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  50% {
    right: -50px;
    top: 30px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  60% {
    right: -50px;
    top: 80px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  70% {
    right: -50px;
    top: 30px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #ff707e;
  }
  80%, 90% {
    right: -50px;
    top: 80px;
    height: 60px;
    width: 30px;
    border-radius: 0 0 100px 100px;
    background-color: #5f93e8;
  }
  100% {
    right: 0;
    top: 5px;
  }
}

@keyframes rightbotfinger {
  0% {
    right: 0;
    bottom: 5px;
  }
  10%, 20% {
    right: -50px;
    bottom: -30px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: #ffc0a1;
  }
  30% {
    right: -50px;
    bottom: -10px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: #ffc0a1;
  }
  40% {
    right: -50px;
    bottom: -40px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: #ffc0a1;
  }
  50% {
    right: -50px;
    bottom: -10px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: #ffc0a1;
  }
  60% {
    right: -50px;
    bottom: -40px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: #ffc0a1;
  }
  70% {
    right: -50px;
    bottom: -10px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: #ffc0a1;
  }
  80%, 90% {
    right: -50px;
    bottom: -40px;
    height: 60px;
    width: 30px;
    border-radius: 100px 100px 0 0;
    background-color: #5f93e8;
  }
  100% {
    right: 0;
    bottom: 5px;
  }
}

#robot #legs {
  position: absolute;
  top: 45%;
  left: 50%;

}
.foot {
  	width: 0;
	height: 0;
	/*border-radius: 0 0 100px 100px;*/
  	/*background-color: #5f93e8;*/
  	
      display: hidden;
 
}

 #leftleg .foot{
  position: absolute;
  top: 30px;
  left: 0;
  margin-left: 15px;
  -webkit-animation: 5s leftfoot linear forwards;
          animation: 5s leftfoot linear forwards;
}
 #rightleg .foot{
  position: absolute;
  top: 30px;
  right: 0;
  margin-right: 15px;
  -webkit-animation: 5s rightfoot linear forwards;
          animation: 5s rightfoot linear forwards;
}

@keyframes leftfoot {
  0% {
    top: 0;
    /*background-color: #bbceff;*/
    /*display: hidden;*/
  }
  10%, 20% {
    top: 90px;
     /*background-color: #bbceff;*/
     /*display: hidden;*/
  }
  30% {
    top: 110px;
     /*background-color: #bbceff;*/
     /*display: hidden;*/
  }
  40% {
    top: 150px;
     /*background-color: #bbceff;*/
      
  }
  50% {
    top: 150px;
     /*background-color: #bbceff;*/
  
  }
  60% {
    top: 110px;
     /*background-color: #bbceff;*/
  }
  70%,80% {
    top: 110px;
     /*background-color: #bbceff;*/
  }
  90%, 100% {
    top: 0;
     /*background-color: #bbceff;*/
     display: none;
  }
}

@keyframes rightfoot {
  0% {
    top: 0;
  }
  10%, 20%{
    top: 90px;
  }
  30% {
  	top: 110px;
  }
  40% {
    top: 110px;
     background-color: #bbceff;
  }
  50% {
    top: 110px;
     background-color: #bbceff;
  }
  60% {
    top: 110px;
     background-color: #bbceff;
  }
  70%,80% {
    top: 110px;
     background-color: #bbceff;
  }
  90%, 100% {
    top: 0;
     /*background-color: #bbceff;*/
  }
}

#shing1{
 	position: relative;
 	border-right: 3px inset #5f93e8;	
 	height: 50px;
 	border-top-right-radius: 600px;
  	/*left: -50%;*/
  	/*top: -50%;*/
  	margin-right: 100px;
  	margin-top: -50px;
 }

 
 #shing2{
 	position: relative;
 	border-left: 3px inset #5f93e8;	
 	height: 50px;
 	border-top-left-radius: 600px;
  	/*left: -50%;*/
  	/*top: -50%;*/
  	margin-left: 100px;
  	margin-top: -50px;
 }
h1{
	text-align: center;
	margin-top: 35%;
}